<section class="admin-dashboard-show">
  <div class="container">
    <h1>
      Admin Dashboard
      <small class="text-muted">Check your store statistics here</small>
    </h1>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Unique Products in Database:<span class="badge badge-primary"><%= @products.count %></span>
      </li>
      <li class="list-group-item">
        Unique Product Categories in Database:<span class="badge badge-primary"><%= @categories.count %></span>
      </li>
    </ul>
  </div>
</section>
