<section class="admin-dashboard-show">

<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<%# Counters%>
<div>
<h1>Sample Header Text</h1>
</div>



<%= @products.count %>
<%= @categories.count %>

</section>