main section.admin-dashboard-show {
  
  display: flex;
  flex-direction: column;

  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .badge {
    background-color: #0069D9;
    margin-left: 5px;
    min-width: 40px;
  }

  ul li {
    display: flex;
    justify-content: space-between;
  }

}